body {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
.Cabeçalho {
    position: sticky;
    top: 0;
    
}
.caixa {
    position: relative;
    width: 100%;
    background: #a18262;
    padding-bottom: 20px;
    padding-top: 20px;
}
.imagem1 {
    width: 50px;
    height: 50px;
    margin-left: 45px;
}
.logo {
    font-size: 50px;
    display: inline;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
nav {
    position: absolute;
    top: 27px;
    right: 45px;
}
.navigation a {
    text-decoration: none;
    color: inherit;
}
.navigation a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.navigation {
    display: inline;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 45px;
}
.master-nav {
    padding-top: 8px;
}
.CoffeeBanner {
    width: 100%;
}
main h2 {
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    padding: 10px;
}
.box2 {
    background: #a18262;
}
.amostraproduto {
    width: 150px;
}
.list {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    font-family: monospace;
}
.list li {
    display: inline-block;
    text-align: center;
    width: 29%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 8px;
}
.list li:hover {
    border-color: #a18262;
    color: #a18262;
}
.list h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ingredientes {
    font-size: 30px;
    font-weight: bold;
}
.list p {
    font-size: 18px;
    margin: 15px 0px;
}
.Sobre {
    text-align: center;
    font-family: monospace;
    width: 940px;
    margin: 50px auto;
    border: #000000 solid 2px;
    border-radius: 8px;
    padding: 40px 20px;
}
.Sobre h4 {
    font-size: 40px;
}
.Sobre p {
    font-size: 18px;
}
footer {
    background:#a18262;
}
.coffeecup {
    width: 190px;
    display: inline-block;
}
.Copyright {
    position: relative;
}
.linkfoot a {
    font-size: 30px;
    color: inherit;
    text-decoration: none;
    font-family: monospace;
    text-align: center;
}
.divlinkfoot {
    text-align: center;
    display: inline-block;
    width: 1470px;
    margin: 0 auto;
}
.linkfoot:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.linkfoot {
    padding: 10px;
}